.controls-loader {
  height: 100%;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  div {
    flex: 1;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
  }

  .installation-text {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .controls-progress {
    width: 100%;
    padding: 5px;
    & .status-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    & .status-info-progress {
      margin-left: 10px;
    }

    & .progress-bar {
      margin: 0 !important;
    }
  }
}
.loader-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.help-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.instructions-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-left: 8rem;
}

.instruction-finishText {
  display: flex;
}
